<% provide(:title, @user.name) %>
<% provide(:form_type, 'edit') %>

  <%= render 'form_user' %>
    <br/> <br/>
    <p><%= link_to "Delete Account", @user, method: :delete,
                                  data: { confirm: "You sure?" } %></p>