<% provide(:title, @user.name) %>

<h1>
  <%= render @user %>
</h1>
<%= link_to "User's Pictures", pictures_path(@user) %>
<%if current_user? @user %>
<%= render 'user_friend_info' %>
<% else %>
<%= render 'other_user_info' %>
<% end %>

</div>
