<h1>Welcome <%= @current_user.name if signed_in?%> </h1>

<div class= "imgblock" id= "recentblock"> >
        <h2> Recent Images <span> -</span></h2>
        <ul class = "imglist">
        <% @images.each do |image| %>
            <li>
	<% if !image.private %>
	 <%= link_to image.user.name, user_path(image.user) %>
            <%= link_to image_tag(image.pic.url(:small), :draggable => "true"), image.pic.url(:large),  class: "lightbox[recent]"%>
	<% end%>
	</li>
        <%end%>
        </ul>
    </div>

    <div id="checkOnline">
        <h2>Website is online at </h2>
        <ul>
            <li> http://mypix.herokuapps.com (stable, fully functional) </li>
            <li> http://cits4230c.csse.uwa.edu.au/mypix (unstable) </li>
        </ul>


</div>
