<% provide(:title, 'My Page') %>

<% if signed_in? %>
    <p> You are logged in as :<%= @current_user.name %></p>
<%else%>
     <p>You aren't logged in, <%= link_to "Click here to login!", login_path %></p>
<%end%>


